.options_page {
  width: 100%;
  height: 100%;
  display: flex;
}

.options_filler {
  width: 33.3333333333%;
  height: 100%;
}
.options_section {
  position: fixed;
  background: white;
  border-right: 2px solid rgb(220,221,222);
  width: 33.3333333333%;
  height: 100%;
  overflow-y: auto;
  .options_intro_section {
    border-bottom: 2px solid rgb(220,221,222);
    padding: 6% 10%;
    text-align: center;
  }
  .options_intro_headline {
    font-size: 1.5em;
    letter-spacing: 0.02083333333em;
    color: #464646;
  }
  .options_intro_back {
    text-align: center;
    font-size: 1.0625em;
    font-weight: 400;
    letter-spacing: 0.01875em;
    color: rgb(84,133,249);
    &:hover {
      color: rgba(84,133,249, 0.85);
    }
  }
}

.actions_section {
  background: rgb(252,253,255);
  width: 66.6666666667%;
  height: 100%;
  padding-bottom: 25em;
  overflow-y: auto;
  .action_plan {
    margin-top: 3em;
    padding: 0 6% 6em 6%;
    border-bottom: 1px solid #c7c7c7;
  }
  .actions_headline_section {
    .actions_option_headline {
      font-size: 1.5em;
      font-weight: 600;
      letter-spacing: -0.02083333333em;
      text-align: center;
      margin-bottom: 1.25em;
    }
  }
}
.action_button {
  height: 2.5em;
  width: 95%;
}
.action_button_text {
  color: white;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 0.05em;
}
