.button {
  cursor: pointer;
  border-radius: 4px;
  background: rgb(84,133,249);
  display: flex;
  justify-content: center;
  align-items: center;
  .button_text {
    color: white;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: -0.025em;
  }
}
