.option {
  padding: 7.5% 6%;
  border-bottom: 1px solid rgb(227,227,227);
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
  .option_container {
    width: 80%;
    margin: 0 auto;
  }
  .option_headline {
    color: rgb(84,133,249);
    font-size: 1.25em;
    font-weight: 600;
    margin: 0.5em 0;
  }
  .order_tag {
    color: rgb(84,133,249);
    height: 1.5625em;
    width: 1.5625em;
    border-radius: 0.78125em;
    border: 2px solid rgb(84,133,249);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-size: 0.75em;
      font-weight: 600;
    }
  }
}
