.option {
  padding: 7.5% 10%;
  border-bottom: 1px solid rgb(227,227,227);
  text-align: center;
  .option_container {
    width: 80%;
    margin: 0 auto;
  }
  .option_headline {
    color: rgb(84,133,249);
    font-size: 22px;
    font-weight: 600;
    margin: 0.5em 0;
  }
  .order_tag {
    color: rgb(84,133,249);
    font-size: 1.2em;
    font-weight: 600;
    height: 1.7em;
    width: 1.7em;
    border-radius: 0.85em;
    border: 3px solid rgb(84,133,249);
    margin: 0 auto;
  }
}
