@import '../../responsive.less';

.card {
  .mobile({
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0.75em;
  });

  .desktop({
    width: 44%;
    margin: 1.5%
  });
  padding: 3% 6%;
  min-height: 180px;
  background: white;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  h2 {
    font-size: 1.25em;
    line-height: 1.2;
  }
}

.card.card_unselected {
  .mobile({
    box-shadow: 0 0 6px 1px rgba(70,70,70,0.25);
  });
  .desktop({
    box-shadow: 0 0 6px 1px rgba(70,70,70,0.15);
  });
  color: rgba(84,149,249, 0.7);
  &:hover {
    color: rgb(84,149,249);
  }
}
.card.card_selected {
  box-shadow: 0 0 6px 1px rgba(84,149,249,0.4);
  color: rgb(84,149,249);
}
