@import '../../responsive.less';

.card {
  .mobile({
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3%;
  });

  .desktop({
    width: 44%;
    margin: 3%;
  });
  padding: 3% 6%;
  min-height: 180px;
  background: white;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  h2 {
    font-size: 1.25em;
  }
}
