.action {
  padding: 1.875em 0;
  border-top: 1px solid rgb(220,221,222);
  .action_capsule {
    display: flex;
    align-items: center;
  }
  .action_headline {
    font-size: 1em;
    font-weight: 600;
    color: #464646;
    line-height: 1.25em;
    margin-bottom: 0.1875em;
  }
  .action_text {
    font-size: 0.875em;
    line-height: 1.3571428571em;
    letter-spacing: 0.02142857143em;
    color: #7c8188;
  }
  .action_img {
    width: 33.3333333%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      transform: scale(0.8);
    }
  }
  .action_content {
    width: 66.6666667%;
  }
  .action_form {
    display: flex;
    justify-content: flex-end;
    .action_form_box {
      padding-top: 1em;
      width: 66.6666667%;
    }
  }
}
