@import '../../globals/constants.less';
@import '../../globals/responsive.less';

.action {
  padding: 1.875em 0;
  margin: 0 auto;
  width: 96%;
  max-width: 56.25em;
  .desktop({
    border-top: 1px solid @border-gray;
  });
  .mobile({
    &:last-child { border-bottom: none; }
    border-bottom: 1px solid @border-gray;
    margin-top: 1em;
  });
  .action_capsule {
    .desktop({
      display: flex;
      align-items: center;
      });
  }
  .action_headline {
    font-size: 1em;
    font-weight: 600;
    color: #464646;
    line-height: 1.25em;
    margin-bottom: 0.1875em;
  }
  .action_text {
    font-size: 0.875em;
    line-height: 1.3571428571em;
    letter-spacing: 0.02142857143em;
    color: #7c8188;
  }
  .action_img {
    display: flex;
    justify-content: center;
    align-items: center;
    .desktop({
      width: 33.3333333%;
    });
    .mobile({
      width: 100%;
      margin-bottom: 2em;
    });
    img {
      display: block;
      .desktop({
        transform: scale(0.8);
      });
    }
  }
  .action_content {
    .desktop({
      width: 66.6666667%;
    });
  }
  .action_form {
    display: flex;
    width: 100%;
    .desktop({
      justify-content: flex-end;
    });
    .mobile({
      justify-content: center;
    });
    .action_form_box {
      padding-top: 1em;
      display: flex;
      justify-content: center;
      .desktop({
        width: 66.6666667%;
      });
      .mobile({
        width: 100%;
      });
    }
  }
}
